@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "LoadMovies";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
</head>

<div class="row">
    <div class="col-lg-12">
        <p style="float:left" class="RedText">Latest Trailers</p>
        <p style="float:right" class="RedColorUnderline">@Html.ActionLink("Show All", "LatestMovies", "Movie")</p>
    </div>
</div>
<br />


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2">

            <div class="imageContainer">

                <img class="movie-img" src="@item.Img" />
                <div class="overlay">
                </div>

                <div class="overlay2">
                    <div class="overlay-text-top">Go to Movie</div>
                    <div class="playbtnImg">
                        <a href="@Url.Action("MovieDetails", "Movie", new { id = item.ID }, null)">
                            <img style="width:50%;" src="~/Content/Pictures/play-btn.png" />
                        </a>
                    </div>
                    <div class="overlay-text-bot">@item.Title</div>
                </div>

            </div>
            <div class="Countcontainerfix">
                <div class="Countcontainer">
                    <div>@item.CommentCount</div>
                </div>
            </div>

        </div>
    }
</div>
