@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
</head>

<div class="row">
    <p style="float:left">Latest Trailers</p>
    <p style="float:right">@Html.ActionLink("Show All", "LatestMovies", "Movie")</p>
</div>
<br />


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <a href="@Url.Action("MovieDetailsTest", "Movie", new { id = item.ID }, null)">
                <div class="imageContainer">

                    <img class="movie-img" src="@item.Img" />
                    <div class="overlay">
                    </div>

                    <div class="overlay2">
                        <div class="textred">Go to Movie</div>
                        <div class="playbtnImg"><img style="width:50%;" src="~/Content/Pictures/play-btn.png" /></div>
                        <div class="textwhite">@item.Title</div>
                    </div>

                </div>
            </a>
            <div class="Countcontainer">
                <div>@item.CommentCount</div>
            </div>
        </div>
    }
</div>