@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "LoadMostCommentedMovies";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/MovieDefault.css" />
    <link rel="stylesheet" href="~/Content/CSS/Countcontainer.css" />
    <script src="https://kit.fontawesome.com/d459c7b260.js" crossorigin="anonymous"></script>
</head>

<div class="row">
    <div class="col-lg-12">
        <strong style="float:left" class="RedText">Most commented</strong>
        <p style="float:right" class="RedColorUnderline">@Html.ActionLink("See All", "MostCommentedMovie", "Movie")</p>
    </div>
</div>
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-4 col-lg-2 nedspase-bottom">

            <div class="imageContainer">

                <img class="movie-img" src="@item.Img" />
                <div class="overlay">
                </div>

                <div class="overlay2">
                    <div class="overlay-text-top">Go to Movie</div>
                    <div class="playbtnImg">
                        <a href="@Url.Action("MovieDetails", "Movie", new { id = item.ID }, null)">
                            <img style="width:50%;" src="~/Content/Pictures/play-btn.png" />
                        </a>
                    </div>
                    <div class="overlay-text-bot">@item.Title</div>
                </div>

            </div>
            <div class="Countcontainer">
                <div>@item.CommentCount</div>
            </div>
        </div>
    }
</div>