<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style=" position: relative; min-height: 100%;">
    <div class="navbar navbar-inverse navbar-static-top HFBackground HLinkFix">
        <div class="col-12">
            <a href="https://localhost:44355/">
                <img src="~/Content/Pictures/logo.png" />
            </a>
            <ul class="nav HPlacement HFTekstColor">
                <li class="nav-item">
                    <b class="nav-link active">@Html.ActionLink("HOME", "Index", "Home")</b>
                </li>
                <li class="nav-item">
                    <b class="nav-link">@Html.ActionLink("NEWS", "News", "News")</b>
                </li>
                <li class="nav-item">
                    <b class="nav-link">@Html.ActionLink("CONTACT", "Contact", "Contact")</b>
                </li>
            </ul>
        </div>
        <div class="col-12" style="display: flex; flex-direction: column; padding: 0px;">
            <dív class="H2Border" style="flex-wrap: wrap; display: inline-flex">
                <div class="HFTekstColor" style="text-align: left; display: inline-flex">
                    <p class="H2Spacing"><b>@Html.ActionLink("SHOW ALL", "ShowAll", "Movie")</b></p>
                    <p class="H2Spacing"><b>@Html.ActionLink("LATEST MOVIES", "LatestMovies", "Movie")</b></p>
                    <p class="H2Spacing"><b>@Html.ActionLink("MOST COMMENTED", "MostCommentedMovie", "Movie")</b></p>
                </div>
                <div style="text-align: right; display: inline-flex">
                    @Html.Action("Search", "Search")
                </div>
            </dív>
            <div class="H3Border" style="flex-wrap: wrap; display: inline-flex">
                <div style="display: inline-flex;"></div>
                <div style="display: inline-flex;text-align: right; flex-wrap: wrap;">
                    <form style="display: inline-flex;">
                        <input class="Input1" type="Email" placeholder="Email" aria-label="Email">
                        <input class="Input1" type="Password" placeholder="password" aria-label="Password">
                    </form>
                    <button class="H2Spacing b1 HFTekstColor" type="submit">Sign In</button>
                    <button class="H2Spacing b1 HFTekstColor">@Html.ActionLink("Not a member?", "SignUp", "SignUp")</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container body-content">
            @RenderBody()
            <hr />
        <div style="display: flex; margin-left: 0px;" class="col-md-12">
            <div style="width: 50%; margin-right: 10px">
                <div style="text-align: right">
                    <b style="float: left;">NEWS</b>
                    <P class="FLinkFix RedColorUnderline">@Html.ActionLink("SHOW ALL", "News", "News")</P>
                </div>
                <div>

                </div>
            </div>
            <div style="width: 50%; margin-left: 10px">
                <div style="text-align: right">
                    <b style="float: left;">COMING SOON</b>
                    <p class="FLinkFix RedColorUnderline">@Html.ActionLink("LATEST MOVIES", "LatestMovies", "Movie")</p>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center navbar-fixed-bottom">
        <footer class="HFBackground HFTekstColor FooterPadding">
            <p class="FLinkFix"><b>@Html.ActionLink("HOME", "Index", "Home")</b> | <b>@Html.ActionLink("NEWS", "News", "News")</b> | <b>@Html.ActionLink("CONTACT", "Contact", "Contact")</b></p>
            <p> social media icons here</p>
            <p style="margin-bottom: 0px">&copy; @DateTime.Now.Year Flick Click ApS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
