@model Flick_Click.Models.CommentModel

@{
    ViewBag.Title = "Comment";
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("Comment", "Movie", new { id = Model.MovieID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-12">
                @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                <input type="submit" value="Comment" class="btn bold" />
            </div>
        </div>
    </div>
}

