@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "MovieDetails";
}

<head>
    <link href="~/Content/CSS/MovieDetails.css" rel="stylesheet" />
</head>

@{
    foreach (var item in Model)
    {
        if (Session["Group_ID"] != null)
        {
            if (Session["Group_ID"].ToString() == "2")
            {
                using (Html.BeginForm("DeleteMovie", "Movie", new { id = item.ID }, FormMethod.Post))
                {
                    <input type="submit" value="DeleteMovie" onclick="return confirm('Are you sure you want to delete this movie?');" />
                }

                <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</p>
            }
        }

        TimeSpan t = TimeSpan.FromSeconds(item.Duration);

        string answer = string.Format("{0:D2}h {1:D2}m",
            t.Hours,
            t.Minutes);

        <div class="grid-container">
            <div class="Title">
                <h1><b>@item.Title</b></h1>
            </div>
            <div class="CommentsAmount">
                <b>Comments: @item.CommentCount</b>
            </div>
            <div class="Rating">
                <b>Age Rating: @Html.Action("MovieAgeRating", new { id = item.ID })</b>
            </div>
            <div class="MovieDuration">
                <b>Duration: <span class="RedText">@answer</span> </b>
            </div>
            <div class="Genre">
                <b>Genre: @Html.Action("MovieGenres", new { id = item.ID })</b>
            </div>
            <div class="ReleaseDate">
                <b>Release Date: <span class="RedText">@item.Release.ToString("dd.MM.yy")</span></b>
            </div>
            <div class="Image">
                <img src="@item.Img" alt="Image" />
            </div>
            <div class="Trailer">
                <iframe src="@item.Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="Director">
                <b>Director: @Html.Action("MovieDirectors", new { id = item.ID })</b>
            </div>
            <div class="Writers">
                <b>Writers: @Html.Action("MovieWriters", new { id = item.ID })</b>
            </div>
            <div class="Stars">
                <b>Stars: <span class="RedText">@item.Rating</span></b>
            </div>
        </div>

        <div class="description">
            <h1><b>Description</b></h1>
            <p>@item.Description</p>
        </div>

        <div>
            <div>
                <b>Comments: @item.CommentCount</b>
            </div>
            @{
                if (Session["userID"] != null)
                {
                    @Html.Action("Comment", new { id = item.ID });
                }
                else
                {
                    <p>You need to be logged in to post a comment</p>
                }
            }
            @Html.Action("MovieComments", new { id = item.ID })
        </div>
    }
}