@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "MovieDetails";
}

<head>
    <link href="~/Content/CSS/MovieDetails.css" rel="stylesheet" />
</head>

@{
    foreach (var item in Model)
    {

        <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>



        TimeSpan t = TimeSpan.FromSeconds(item.Duration);

        string answer = string.Format("{0:D2}h {1:D2}m",
            t.Hours,
            t.Minutes);

        <div class="grid-container">
            <div class="Title">
                <h1 class="bold">@item.Title</h1>
            </div>
            <div class="CommentsAmount">
                <strong>Comments: @item.CommentCount</strong>
            </div>
            <div class="Rating">
                <strong>Age Rating: @Html.Action("MovieAgeRating", new { id = item.ID })</strong>
            </div>
            <div class="MovieDuration">
                <strong>Duration: @answer</strong>
            </div>
            <div class="Genre">
                <strong>Genre: @Html.Action("MovieGenres", new { id = item.ID })</strong>
            </div>
            <div class="ReleaseDate">
                <strong>Release Date: @item.Release.ToString("dd.MM.yy")</strong>
            </div>
            <div class="Image">
                <img src="@item.Img" alt="Image" />
            </div>
            <div class="Trailer">
                <iframe src="@item.Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="Director">
                <strong>Director: @Html.Action("MovieDirectors", new { id = item.ID })</strong>
            </div>
            <div class="Writers">
                <strong>Writers: @Html.Action("MovieWriters", new { id = item.ID })</strong>
            </div>
            <div class="Stars">
                <strong>Stars: <span class="RedText">@item.Rating</span></strong>
            </div>
        </div>

        <div class="description">
            <h1 class="bold">Description</h1>
        </div>
        <div>
            <p>@item.Description</p>
        </div>


        <div>
            @Html.Action("MovieComments", new { id = item.ID })
        </div>
    }
}