@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "AllMovies";

    if (Session["Group_ID"] != null)
    {

        if (Session["Group_ID"].ToString() == "2")
        {
            <h1>All Movies</h1>

            <p>
                @Html.ActionLink("Create New", "CreateMovie", "Movie")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Release)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trailer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CommentCount)
                        </th>
                        <th></th>*@
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Img)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Release)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trailer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CommentCount)
                            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "MovieDetails", "Movie", new { id = item.ID }, null) |
                            @Html.ActionLink("Delete", "DeleteMovie", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        }
    }
}


