@model IEnumerable<Flick_Click.Models.NewsModel>

@{
    ViewBag.Title = "News";
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/News.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<h1>News</h1>
@{
    var group = Session["Group_ID"].ToString();
    if (group != null && group == "2")
    {
        <span>
            @Html.ActionLink("Create new", "Create")
        </span>
    }
}
<hr />




@{
    foreach (var item in Model)
    {
        <h2 class="bold">@item.Title</h2>
        <p class="date">@item.Created.ToString("dd.MM.yy")</p>

        if (item.Content.Length != 500)
        {
            <p>@item.Content</p>
        }
        else
        {
            <p>@item.Content.Substring(0, 500)...</p>
        }

        <p class="RedColorUnderline" style="float: none">@Html.ActionLink("Read more", "NewsDetails", new { id = item.ID.ToString() }, null)</p>
        <br />
    }
}
