@model IEnumerable<Flick_Click.Models.NewsModel>

@{
    ViewBag.Title = "NewsDetails";
}
<head>
    <link href="~/Content/CSS/NewsDetails.css" rel="stylesheet" />
</head>

<div class="container">
    @{
        bool two = true;

        foreach (var item in Model)
        {
        <div>
            @{
                var group = Session["Group_ID"].ToString();
                if (group != null && group == "2")
                {

                    <div class="d-inline-flex">
                        @using (Html.BeginForm("EditNews", "News", new { id = item.ID }, FormMethod.Get))
                        {
                            <input type="submit" value="Edit" onclick="return confirm('Are you sure you want to edit this News Article?');" />
                        }
                        @using (Html.BeginForm("DeleteNews", "News", new { id = item.ID }, FormMethod.Post))
                        {
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this News Article?');" />
                        }
                    </div>
                }
            }
            <h1><b>@Html.DisplayFor(modelItem => item.Title)</b></h1>

            <p class="date">@item.Created.ToString("dd.MM.yy")</p>
        </div>
            <div>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
            </div>

            if (!two)
            {
                <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Details", "Details", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>
            }
        }
    }

    <p class="RedColorUnderline" style="float: none">@Html.ActionLink("Back", "News", "News")</p>
</div>