@model IEnumerable<Flick_Click.Models.NewsModel>

@{
    ViewBag.Title = "NyNews";
}




@{
    foreach (var item in Model)
    {
        <h2 class="bold">@item.Title</h2>
        <p class="date">@item.Created.ToString("dd.MM.yy")</p>

        if (item.Content.Length != 250)
        {
            <p>@item.Content</p>
        }
        else
        {
            <p>@item.Content.Substring(0, 250)...</p>
        }

        <p class="RedColorUnderline" style="float: none">@Html.ActionLink("Read more", "NewsDetails", new { id = item.ID.ToString() }, null)</p>
        <br />
    }
}
