@model Flick_Click.Models.ContactModel

@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="~/Content/CSS/Contact.css" />
</head>
<div sstyle="display: flex; flex-direction: column">
    <div>
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna nisl, euismod commodo massa aliquet vel. Nunc consectetur neque orci, in suscipit lectus lobortis nec. Suspendisse et condimentum turpis. Praesent aliquam pellentesque massa, ac tincidunt justo. Maecenas rutrum arcu malesuada eros semper ornare. Etiam sem velit, commodo vel tempus ut, tempus tincidunt neque. Mauris quis sem rutrum, dignissim dui quis, pellentesque urna.</p>
        <br />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="text-align: center;">
            <div>
                <p class="ContactTitle"><b>Get in touch</b></p>
            </div>
            <div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name..." } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email Address..." } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Messege, new { @class = "form-control", placeholder = "Your Message..." })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
                    
                <div class="form-group">
                    <div class=" col-md-6">
                        <input type="button" value="send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
