@model Flick_Click.Models.UserModel
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}
@*<div style="display: inline-flex;"></div>
    <div style="display: inline-flex;text-align: right; flex-wrap: wrap;">
        <form style="display: inline-flex;">
            <input class="Input1" type="Email" placeholder="Email" aria-label="Email">
            <input class="Input1" type="Password" placeholder="password" aria-label="Password">
        </form>
        <button class="H2Spacing b1 HFTekstColor" type="submit">Sign In</button>
        <button class="H2Spacing b1 HFTekstColor">@Html.ActionLink("Not a member?", "SignUp", "SignUp")</button>
    </div>*@

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display:inline-flex;">
            <section style="display: inline-flex">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "Input1", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "Input1", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                <button class="H2Spacing b1 HFTekstColor">Sign In</button>
            </section>
        </div>
    }
</div>